<%= form_for @recipe do |f| %>
  <h3>This is a recipe for: <%= f.text_field :title %></h3>
  Ingredients:<br>
  <%= text_field_tag "recipe[ingredient][][name]" %><br>
  <%= text_field_tag "recipe[ingredient][][name]" %><br>
  <%= text_field_tag "recipe[ingredient][][name]" %><br>
  <%= text_field_tag "recipe[ingredient][][name]" %><br>
  <%= f.submit %>
<% end %>
