<center>
  <h1><%= @recipe.title %></h1>
  Total Cost: <b>$<%= @total %></b>
</center>

<h3><i>Ingredients </i></h2>
<ol>
<% @recipe.ingredients.each do |ingredient| %>
  <li>
    <h4><%=ingredient.name%> / $<%=ingredient.pkg_cost %>@<%=ingredient.pkg_merchant%> </h4>
  </li>
<% end %>
</ol>

<%= link_to '<< Back to All Recipes', :back %>
