<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
This is where people will sign in.

<%= form_for @user, url: login_path(@user.name) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit("Sign in") %>
<% end %>
